.show-button{
    color: #fff;
    background-color: #007298;
    border: none;
    border-radius: 4px;
    padding: 10px  30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
  
}
.edit-button{
    color: #fff;
    background-color: #007298;
    border: none;
    border-radius: 4px;
    padding: 10px  15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;

}
.remove-button{
    color: #fff;
    background-color: #007298;
    border: none;
    border-radius: 4px;
    padding: 10px  15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;

}