.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: #fff;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-button{
    color: #fff;
    background-color: #007298;
    border: none;
    border-radius: 4px;
    padding: 12px 36px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 50px;
}
